body,
p,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
td,
input,
textarea {
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100%;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

em,
i {
    font-style: normal;
}

input,
button {
    outline: none;
}

/* 去掉下拉框的右边的小三角 */
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
}

img {
    border: none;
    display: block;
}